body {
    padding-top: 60px;
}


/*@media (max-width: 979px) {
  body {
    padding-top: 0px;
  }
}*/


/**
 * wikitable class for skinning normal tables
 * keep in sync with commonPrint.css
 */

table.wikitable {
    margin: 1em 0;
    background-color: #f9f9f9;
    border: 1px solid #aaa;
    border-collapse: collapse;
    color: black;
}

table.wikitable > tr > th,
table.wikitable > tr > td,
table.wikitable > * > tr > th,
table.wikitable > * > tr > td {
    border: 1px solid #aaa;
    padding: 0.2em 0.4em;
}

table.wikitable > tr > th,
table.wikitable > * > tr > th {
    background-color: #f2f2f2;
    text-align: center;
}

table.wikitable > caption {
    font-weight: bold;
}

.gridInput {
    width: 30px;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.rotate-45-left {
    display: inline-block;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

.rotate-45-right {
    display: inline-block;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}

.container-fluid {
    padding: 0px;
}

.lightpink {
    background-color: lightpink;
}

.tooltip {
/*
    background-color:#000;
    border:1px solid #fff;
    padding:10px 15px;
    width:200px;
    display:none;
    color:#fff;
    text-align:left;
    font-size:12px;
    -moz-box-shadow:0 0 10px #000;
    -webkit-box-shadow:0 0 10px #000;
*/
    display:block;
    position:absolute;
    z-index:9000;
    font-size:100%;
}

.popover-title { display: none; }

.img-center {
	margin: 0 auto;
}