<div class="container" style="width:90%" ng-controller="mainCtrl">
    <div class="row well">

        <div class="col col-xs-3">
            <form class="form-inline">
                <label for="sequence1">Sequence 1</label>
                <input id="sequence1" class="form-control" type="text" ng-model="sequence1" maxlength="10" ng-keypress="aminoRegex($event)" title="Required Field"></input>
            </form>
            <span style="color:red" ng-show="alignmentMethod === 'pattern'"> (Shorter Pattern)</span>
            <span style="color:red" ng-show="banded && Math.abs(sequence1.length - sequence2.length) >= k-1">Make sure sequence lengths differ by at most k-1 for banded alignment </span>
        </div>

        <div class="col col-xs-3">
            <form class="form-inline">
                <label for="sequence2">Sequence 2</label>
                <input id="sequence2" class="form-control" type="text" ng-model="sequence2" maxlength="10" ng-keypress="aminoRegex($event)" title="Required Field"></input>
            </form>
            <span style="color:red" ng-show="alignmentMethod === 'pattern'"> (Longer Sequence)</span>
        </div>



    </div>

    <div class="row">
        <div class="col-xs-3 well">
            <form>
                <div class="form-group">
                    <h3>
                        Alignment Method
                        <a ng-click="open('alignmentMethod')" id="alignmentPopover" rel="popover" data-placement="bottom" data-original-title="Alignment Method" class="glyphicon glyphicon-question-sign"></a>
                        
                    </h3>
                    <div class="radio">
                        <label>
                            <input type="radio" name="alignmentMethod" id="global" value="global" ng-model="alignmentMethod"> Global
                        </label>
                    </div>
                    <div class="radio">
                        <label>
                            <input type="radio" name="alignmentMethod" id="local" value="local" ng-model="alignmentMethod"> Local
                        </label>
                    </div>
                    <div class="radio">
                        <label>
                            <input type="radio" name="alignmentMethod" id="dovetail" value="dovetail" ng-model="alignmentMethod"> Dovetail
                        </label>
                    </div>
                    <div class="radio">
                        <label>
                            <input type="radio" name="alignmentMethod" id="pattern" value="pattern" ng-model="alignmentMethod"> Pattern
                        </label>
                    </div>
                </div>
                <div class="form-group">
                    <h3>
                        Scoring Method
                        <a ng-click="open('scoringMethod')" id="scoringPopover" rel="popover" data-placement="bottom" data-original-title="Scoring Method" class="glyphicon glyphicon-question-sign"></a>
                    </h3>
                    <div class="radio">
                        <label>
                            <input type="radio" name="scoringMethod" id="editDistance" value="editDistance" ng-model="scoringMethod"> Edit Distance
                        </label>
                    </div>

                    <div class="form-inline">
                        Penalty =
                        <input id="mismatchScore" class="form-control" type="number" ng-model="edMismatchScore" ng-disabled="scoringMethod!='editDistance'"></input>
                    </div>

                    <div class="radio">
                        <label>
                            <input type="radio" name="scoringMethod" id="score" value="score" ng-model="scoringMethod"> Score
                        </label>
                    </div>
                    <div class="form-inline">
                        Match =
                        <input id="matchScore" class="form-control" type="number" ng-model="scoreMatchScore" ng-disabled="scoringMethod!='score'"></input>
                    </div>
                    <div class="form-inline">
                        Mismatch =
                        <input id="mismatchScore" class="form-control" type="number" ng-model="scoreMismatchScore" ng-disabled="scoringMethod!='score'"></input>
                    </div>
                    <div class="form-inline">
                        Insert/Delete =
                        <input id="inDelScore" class="form-control" type="number" ng-model="scoreInDelScore" ng-disabled="scoringMethod!='score'"></input>
                    </div>

                    <div class="radio">
                        <label>
                            <input type="radio" name="scoringMethod" id="blosum45" value="blosum45" ng-model="scoringMethod"> BLOSUM45
                            <a ng-click="open('blosum')" id="blosumPopover" rel="popover" data-placement="bottom" data-original-title="BLOSUM" class="glyphicon glyphicon-question-sign"></a>

                        </label>
                    </div>

                    <div class="radio">
                        <label>
                            <input type="radio" name="scoringMethod" id="blosum62" value="blosum62" ng-model="scoringMethod"> BLOSUM62
                        </label>
                    </div>
                </div>
                <div class="form-group">
                    <div class="form-inline">
                        Banded Alignment
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" name="banded" id="banded" ng-model="banded">
                            </label>
                        </div>
                        k =
                        <input id="k" class="form-control" type="number" style="width:30%" ng-model="k" ng-disabled="!banded"></input>
                    </div>
                    <span style="color:red" ng-show="k < 0"> K cannot be negative</span>
                    <span style="color:red" ng-show="k < 3"> K must be > 3</span>
                    <div class="form-inline">

                    </div>
                </div>

                <div class="form-group">
                    <div class="form-inline">
                        Show Traceback Arrows:
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" name="showArrows" id="showArrows" ng-model="showArrows">
                            </label>
                        </div>
                    </div>

                </div>

                <div class="form-inline">
                    <button class="btn btn-default" ng-click="initialize()">Initialize</button>
                    <button class="btn btn-default" ng-click="check()">Check</button>
                    <button class="btn btn-default" ng-click="initNW()" ng-disabled="banded && Math.abs(sequence1.length - sequence2.length) >= k-1 && k > 3">Run</button>
                </div>
            </form>
        </div>

        <div class="col-xs-9" style="padding-left:50px">

            <h3>
                Alignment Matrix
                <a ng-click="open('matrix')" id="matrixPopover" rel="popover" data-placement="bottom" data-original-title="Alignment Matrix" class="glyphicon glyphicon-question-sign"></a>
            </h3>

            <div class="row">
                <table class="row wikitable">
                    <tr ng-repeat="row in matrix">
                        <td ng-repeat="cell in row track by $index" ng-class="cell.color" tooltip-enable="solved" tooltip-append-to-body="true" tooltip-placement="top" uib-tooltip="{{tooltipContent($parent.$index, $index)}}">
                            <div class="container-fluid">
                                <div class="row">
                                    <div class="col-xs-4"><i ng-if="showArrows && cell.diag" class="glyphicon glyphicon-arrow-up rotate-45-left"></i></div>
                                    <div class="col-xs-4"><i ng-if="showArrows && cell.up" class="glyphicon glyphicon-arrow-up"></i></div>
                                    <div class="col-xs-4"></div>
                                </div>
                                <div class="row">
                                    <div class="col-xs-4"><i ng-if="showArrows && cell.left" class="glyphicon glyphicon-arrow-left"></i></div>
                                    <div class="col-xs-4">
                                        <input ng-if="cell.type=='score'" type="number" class="gridInput" ng-model="cell.value"></input>
                                        <input ng-if="cell.type=='seq'" ng-disabled="cell.type=='seq'" type="text" class="gridInput" ng-model="cell.value"></input>
                                    </div>
                                    <div class="col-xs-4"></div>
                                </div>
                                <div class="row">
                                    <div class="col-xs-4"></div>
                                    <div class="col-xs-4"></div>
                                    <div class="col-xs-4"></div>
                                </div>

                            </div>
                        </td>
                    </tr>
                </table>
            </div>

            <hr>

            <h3>
                Alignment Result
                <a ng-click="open('alignmentResult')" id="alignmentResultPopover" rel="popover" data-placement="bottom" data-original-title="Alignment Result" class="glyphicon glyphicon-question-sign"></a>
            </h3>
            <div class="row">
                <table class="wikitable">
                    <tr ng-repeat="row in alignment">
                        <td ng-repeat="cell in row track by $index"> <b>{{cell}}</b></td>
                    </tr>
                </table>


                <!--
                Sequence 1 :
                <h4>{{sequence1}}</h4> Sequence 2 :
                <h4>{{sequence2}}</h4> Alignment Method : {{alignmentMethod}}
                <br> Scoring Method : {{scoringMethod}}
                <br> ED Mismatch Score :{{edMismatchScore}}
                <br> Score Match Score : {{scoreMatchScore}}
                <br> Score Mismatch Score : {{scoreMismatchScore}}
                <br> Score InDel Score : {{scoreInDelScore}}
                <br> Banded ? {{banded}}
                <br> k = {{k}}
                <br> matrix = {{matrix}}
                <br> subMatrix = {{subMatrix}}
                <br> alignment = {{alignment}}
                -->
            </div>



        </div>
    </div>

</div>